.board {
    border: 5px solid red;
    margin: 0px 600px;
    height: 550px;
}
.board div{
    float: left;
    width: 32.74%;
    /* width: 221.5px; */
    border: 2px solid black;
    height: 180px;
}
.score-board{
    padding: 20px 0px 0px 50px;
}
.score-board h3{
    height: 100px;
    position: relative;
}
.score-board img{
    height: 150px;
    width: 150px;
}
.board img{
    width: 100%;
    height: 100%;
}